*{
  margin: 0;
  color: rgb(255, 255, 255);
}

:root {
  --primary-color: #34495E;
  --secondary-color: #D8CA1D;
}

header {
  padding: 10px;
  background: rgb(128,139,150);
  background: linear-gradient(90deg, rgba(128,139,150,1) 0%, rgba(39,55,70,1) 49%, rgba(128,139,150,1) 100%);
}

header h1 {
  text-align: center;
  color: var(--secondary-color);
}

body {
background-image: url("../images/image-bitcoin-2.jpg");
background-size: 100%;
}

/* wraps three classes: .amount, .drop-down, .exchange-rate */
.wrapper {
  width: 100%;
  display: flex;
  position: absolute;
  margin-top: 50px;
}

.amount {
  margin-left: 210px;
}

/* .amount division */
.amount p {
  width: 34%;
}

.amount button {
  padding: 8px;
  background-color: var(--primary-color);
}

.amount button:active {
  background-color: var(--secondary-color);
  color: black;
}

.amount input {
  color: auto;
  padding: 8px;
  background-color: rgb(128,139,150);
}

/* wraps two classes: .from, .to */
.drop-down {
  display: flex;
}

.from {
  margin-left: 137px;
}

.to {
  margin-left: 30px;
  display: none;
}

.to p {
  width: 10%;
}

.amount p, .from p, .to p {
  background-color: var(--primary-color);
  border: 1px solid white;
  border-radius: 5px;
}

/* selection boxes, one in .to and one in .from */
.select-box select{
  padding: 7px;
  width: 202px;
  background-color: var(--primary-color);
}

/* USD value display */
.exchange-rate {
  margin-left: -197px;
  margin-top: 165px;
  background-color: var(--primary-color);
}

/* Bitcoin value display */
.bitcoin-value {
  border: 5px dashed red; /* wireframe */
  margin-left: 1000px;
  padding: 25px;
  width: 175px;
  position: absolute;
}

/* FLIP IMAGE START */

/* The flip box container */
.flip-box {
  background-color: transparent;
  width: 22%;
  height: 200px;
  perspective: 1000px; 
  position: absolute;
  margin-top: 350px;
  margin-left: 534px;
}

/* position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when user move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-box-front img, .flip-box-back img {
  height: 200px;
  width: 100%;
  border-radius: 50px;
}

/* Style the front side */
.flip-box-front {
  border-radius: 50px;
}

/* Style the back side */
.flip-box-back {
  transform: rotateY(180deg);
}

/* FLIP IMAGE ENDS */

/* MEDIA RESPONSIVENESS START */

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 540px) {
  
}

@media screen and (max-width: 414px) {
  
}

@media screen and (max-width: 375px) {
  
}

