*{
    margin: 0;
    color: white;
}

header {
    padding: 10px;
    color: white;
    background: rgb(128,139,150);
    background: linear-gradient(90deg, rgba(128,139,150,1) 0%, rgba(39,55,70,1) 49%, rgba(128,139,150,1) 100%);
}

header h1 {
    text-align: center;
}

body {
  background-image: url("../images/image-bitcoin-2.jpg");
  background-size: 100%;
  background-color: #85929E;
}

main {
    display: flex;
    position: relative;
}

main h2 {
    margin-left: 590px;
    margin-top: 20px;
    background-color: #34495E;
    border: 2px solid white;
    width: 13%;
    text-align: center;
    border-radius: 13px;
}
    
.currency-select {
  position: relative;
  font-family: Arial;
  position: absolute;
  margin-top: 80px;
  margin-left: 75px;
}

.currency-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #34495E;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #34495E;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.input {
    position: absolute;
    margin-top: 80px;
    margin-left: 517px;
    display: flex;
}

.amount label {
    font-size: 21px;
    background-color: #34495E;
    border: 1px solid white;
}

.amount input {
    padding: 8px;
}

.execute button {
    padding: 8px;
    color: white;
    background-color: #34495E;
}
  